@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  /* Colours */
  --text-color: #230c33ff;
  --background-color: #f9fbfc;
  --primary-color: #5697b3;
  --secondary-color: #d4b9a0;
  --accent-color: #98c57e;

  /* Fonts */
  --heading-font: 'Roboto', sans-serif;
  --body-font: 'Archivo', sans-serif;
}

:is(h1, h2) {
  font-family: var(--heading-font);
}

html,
body {
  height: 100%;
  font-family: var(--body-font)
}

.navbar-expand .navbar-nav {
  flex-direction: row;
  display: flex;
  margin: auto;
  gap: 20px;
  text-decoration: none;
  color: pink;
  background-color: darken(var(--background-color), 50%);
  --bs-bg-opacity: 0;
}

.navbar-nav a {
  text-decoration: none;
  color: pink;
}

.header-img {
  vertical-align: middle;
  width: 100vw;
  height: 50vh;
}

.img-home-craft {
  height: 20rem;
}

.container-home-craft {
  font-family: 'Julius Sans One', sans-serif;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}

.register-container h3 {
  font-family: var(--body-font);
  text-align: center;
  margin-top: 10vh;
}

.register-form input[type="email"],
.register-form input[type="password"] {
  color: green;
}

.register-form label {
  color: var(--secondary-color);
}

.register-buttom {
  background-color: var(--accent-color);
  color: white;
}

.register-buttom:hover {
  background-color: var(--secondary-color);
}

.register-form {
  font-family: var(--body-font);
  max-width: 400px;
  margin: 0 auto;
  margin-top: 5vh;
  background-color: var(--secondary-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.register-form label {
  color: var(--text-color);
}

.register-check {
  font-family: var(--body-font);
  display: flex;
  justify-content: center;
}

.register-buttom {
  background-color: #a6cc4e;
}

.footer-container {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  bottom: 0;
}

.footer-container a {
  text-decoration: none;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.footer-box {
  background-color: #f5b2b85e;
}

#root {
  min-height: 100%;
  margin-bottom: -100px;
}

/* .footer-container, #root:after {
  height: 50px
} */

#root:after {
  content: "";
  display: block;
}


.show-craft-container {
  margin: 0 auto;
  width: 90vw;
  margin-top: 2vh;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 0;
}

.link-container a {
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
}

.link-one {
  color: #53d9d1;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1em;
}

.link-two {
  color: #53d9d1;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1em;
}

.link-three {
  color: #53d9d1;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1em;
}

.upload-craft-container {
  font-family: var(--body-font);
  width: 80%;
  margin: 0 auto;
  margin-top: 5vh;
  background-color: var(--accent-color);
  border-radius: 10px;
  padding-top: 20px;

}

.upload-craft-container .w-full {
  background-color: var(--accent-color);
  width: 95%;
  margin: 0 auto;
}

.upload-craft-container li {
  padding-left: 0
}

.upload-craft-container label {
  margin-left: 15px;
  padding-left: 10px;
}

.label-parents ol,
ul {
  padding-left: 0;
}

.upload-button {
  background-color: var(--accent-color);
  width: auto;
  margin: 0 auto;
  display: flex;
}

.upload-craft-form h3 {
  text-align: center;
  margin-top: 5vh;
}